.game-button {
    width: 40%;
    height: 7rem;
    display: flex;
    overflow: hidden;
    background: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    border: 0;
    transition: all .05s ease-in-out;
    user-select: none;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.01));
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: transform 0.3s ease, background 0.3s ease;
}

.game-button:hover {
    transform: scale(1.30);
    transform-origin: right top;
    z-index: 1;
    mask-image: none;
}

.game-button:last-child:hover {
    transform-origin: right bottom;
}

.game-button:hover .game-title {
    display: block;
}

.game-button:hover .hover-background {
    display: none;
}

.game-button:hover .play-overlay {
    display: flex;
}

.game-button:hover img {
    opacity: 1.0;
}

.fly-out {
  animation: flyLeftFade 0.6s ease forwards;
}

@keyframes flyLeftFade {
  to {
    transform: translateX(-150%);
    opacity: 0;
  }
}

img {
    flex-shrink: 1;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
}

.game-title {
    position: absolute;
    right: 0;
    -webkit-text-stroke: 4px #333;
    paint-order: stroke fill;
    color: white;
    text-align: right;
    display: none;
}

.hover-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(51, 51, 51, 0.75) 75%, rgba(51, 51, 51, 1) 100%);
    display: block;
}

.play-overlay {
    height: 100%;
    width: 50%;
    background: linear-gradient(to right, rgba(60, 179, 113, 1) 0%, rgba(60, 179, 113, 1) 25%, rgba(60, 179, 113, 0) 100%);
    color: #ffffff;
    display: none;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}
